@theme {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-broccoli-100: var(--broccoli-100);
  --color-broccoli-200: var(--broccoli-200);
  --color-broccoli-400: var(--broccoli-400);
  --color-broccoli-500: var(--broccoli-500);
  --color-broccoli-600: var(--broccoli-600);
  --color-broccoli-800: var(--broccoli-800);
  --color-broccoli-900: var(--broccoli-900);
  --color-lime-100: var(--lime-100);
  --color-lime-200: var(--lime-200);
  --color-lime-400: var(--lime-400);
  --color-lime-500: var(--lime-500);
  --color-lime-600: var(--lime-600);
  --color-lime-800: var(--lime-800);
  --color-lime-900: var(--lime-900);
  --color-pear-100: var(--pear-100);
  --color-pear-200: var(--pear-200);
  --color-pear-400: var(--pear-400);
  --color-pear-500: var(--pear-500);
  --color-pear-600: var(--pear-600);
  --color-pear-800: var(--pear-800);
  --color-pear-900: var(--pear-900);
  --color-kiwi-100: var(--kiwi-100);
  --color-kiwi-200: var(--kiwi-200);
  --color-kiwi-400: var(--kiwi-400);
  --color-kiwi-500: var(--kiwi-500);
  --color-kiwi-600: var(--kiwi-600);
  --color-kiwi-800: var(--kiwi-800);
  --color-kiwi-900: var(--kiwi-900);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);
  --color-orange-400: var(--orange-400);
  --color-orange-500: var(--orange-500);
  --color-orange-600: var(--orange-600);
  --color-orange-800: var(--orange-800);
  --color-orange-900: var(--orange-900);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-gold-100: var(--gold-100);
  --color-gold-200: var(--gold-200);
  --color-gold-400: var(--gold-400);
  --color-gold-500: var(--gold-500);
  --color-gold-600: var(--gold-600);
  --color-gold-800: var(--gold-800);
  --color-gold-900: var(--gold-900);
  --color-turquoise-100: var(--turquoise-100);
  --color-turquoise-200: var(--turquoise-200);
  --color-turquoise-400: var(--turquoise-400);
  --color-turquoise-500: var(--turquoise-500);
  --color-turquoise-600: var(--turquoise-600);
  --color-turquoise-800: var(--turquoise-800);
  --color-turquoise-900: var(--turquoise-900);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-black-100: var(--black-100);
  --color-black-200: var(--black-200);
  --color-black-400: var(--black-400);
  --color-black-500: var(--black-500);
  --color-black-600: var(--black-600);
  --color-black-800: var(--black-800);
  --color-white: var(--white);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-sm: calc(var(--radius) - 0.25rem);

  --spacing-gw-2: var(--space-2);
  --spacing-gw-4: var(--space-4);
  --spacing-gw-8: var(--space-8);
  --spacing-gw-16: var(--space-16);
  --spacing-gw-24: var(--space-24);
  --spacing-gw-32: var(--space-32);
  --spacing-gw-40: var(--space-40);
  --spacing-gw-48: var(--space-48);
  --spacing-gw-64: var(--space-64);
  --spacing-gw-80: var(--space-80);
  --spacing-gw-120: var(--space-120);

  --text-omega: 0.75rem;
  --text-omega--line-height: calc(1rem / 0.75rem);
  --text-sigma: 0.875rem;
  --text-sigma--line-height: calc(1.25rem / 0.875rem);
  --text-omicron: 1rem;
  --text-omicron--line-height: calc(1.5rem / 1rem);
}
